*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
  background-color: whitesmoke;
  position: relative;
  font-family: 'Black Ops One', cursive;
  color: #333;
}

button{
  font-family: 'Black Ops One', cursive;
}

.battleship-title{
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #333;
  margin-top: 40px;
}

.boards{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
}

.content > .play-again-btn{
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.player-container,
.computer-container {
  display: grid;
  gap: 10px;
  place-items: center;
}

.player-title,
.computer-title {
  font-size: 25px;
}

.game-board{
  display: inline-grid;
  grid-template-columns: repeat(10, auto);
  border: 1px solid #333;
  /* gap: 3px; */
}
.cell{
  position: relative;
  width: 40px ;
  height: 40px;
  border: 1px solid #333;
}

.player-board .cell:hover{
  background-color: #666;
}

.computer-board .cell:hover::before{
  position: absolute;
  content: '⌖';
  font-size: 45px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #555;
  margin-top: 2px;
}

.cell.ship.hidden {
  background-color: transparent;
}

.cell.ship{
  background-color: #555;
}

.cell.ship.hit{
  background-color: rgb(226, 71, 71);
}

.cell.miss{
  background-color: rgb(106, 152, 221);
}

.cell.miss::after, .cell.ship.hit::after{
  position: absolute;
  content: '〰';
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(61, 120, 207);
}

.cell.ship.hit::after{
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: '✷';
  color: rgb(172, 38, 38);
  font-size: 30px;
  margin-top: 2px;
}

.computer-board .cell.ship.hit::before, .computer-board .cell.miss::before{
  content: none;
}

.gameover-container{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(2px);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: grid;
  place-content: center;
}

.gameover-options{
  display: grid;
  place-items: center;
  gap: 15px;
  background-color: white;
  padding: 30px 50px;
  width: 300px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgb(172, 172, 172)
}

.announce-winner{
  font-size: 25px;
  color: #666;
}

.play-again-btn{
  width: 120px;
  height: 30px;
  border: 2px solid #666;
  color: #666;
}

.hide{
  visibility: hidden;
}

.focus{
  pointer-events: none;
  opacity: 70%;
}

.message-container{
  margin-top: 20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.axis-button{
  font-size: 20px;
  background-color: #333;
  color: white;
  padding: 0px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.axis-button.hidden{
  display: none;
}