*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  /* box-sizing: border-box; */
}

.boards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
.game-board{
  display: inline-grid;
  grid-template-columns: repeat(10, auto);
  border: 0.5px solid rgb(145, 160, 179);
}
.cell{
  width: 30px ;
  height: 30px;
  background-color: rgb(230, 239, 247);
  border: 0.5px solid rgb(145, 160, 179);
}

.cell.ship.hidden {
  background-color: rgb(230, 239, 247);
}

.cell.ship{
  background-color: rgb(33, 68, 121);
}

.cell.miss{
  position: relative;
}
.cell.miss::after{
  position: absolute;
  content: 'x';
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(65, 90, 128);
}

.cell.ship.hit{
  background-color: rgb(160, 40, 40);
}